.container{
	width: 1160px;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
}
/*БАННЕР*/
.banner{
	padding-top: 113px;
	padding-bottom: 379px;
    /*min-height: 645px;  Минимальная высота 
	min-width: 1280px;*/
	background-image: url(../images/banner.png);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	
}

.banner-title{
    color:#FFF;
    font-family: "FuturaPT Bold", sans-serif;
    font-size:50px;
    margin-top: 100px; 
}

.banner-city{
	color:#FFF;
	font-family: "FuturaPT Demi", sans-serif;
	font-size: 38px;
}
.banner-footer {
	background-image: url(../images/footer.png);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.banner-sale {
    height: 362px; /* Минимальная высота */
	min-width: 1280px;
	background-image: url(../images/sales.png);
	background-position: center; 
	background-repeat: no-repeat;
	color: white;
}
/*ВЕРХНЯЯ МЕНЮШКА*/
.page-header {
  
  text-align: left;
  background: #FFF;
  font-size: 0;
  overflow: hidden;

  padding: 14px 0;
}
.page-header-index{
	padding-top: 0;
}
.page-header-index > .container{
	margin-top: 14px;
}
.logo {
	display: inline-block;
	width: 160px;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-family: "AvenirNext Bold", sans-serif;
	font-size: 25px;
	border: 4px solid black; 
	background: transparent; 
	padding: 10px;
	text-transform: uppercase;
	box-sizing: border-box;
	vertical-align: middle;
	/*margin-top: 10px;*/
/*padding-right:0; */
}
.main-nav {
      display: inline-block;
	  width: 600px;
	  text-transform: uppercase;
	  text-align: left;
	  /*margin-left: -10px;*/
}
.link-nav{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  /*margin-top: -15px;*/
}
[class*="link-nav"] a {
  color: #000;
  font-family: "FuturaPT Medium", sans-serif;
  text-decoration: none;
  font-size: 15px;
  margin: 0 15px;
  /*box-sizing: border-box;*/
}
.main-nav a:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/*.main-nav .link-nav {
  	margin: 0 15px;
}*/
.call-box{
display: inline-block;
width: 240px;
text-align: center;
vertical-align: middle;
}
.page-header-phone {
	display: inline-block;
	width: 190px;
	text-align: center;
  	text-decoration: none;
  	color: #000;
  	/*margin-top: 13px;*/  
  	font-size: 20px;
  	/*margin-left: 5px;
  	margin-right: 15px;*/
  	font-family: "FuturaPT Demi", sans-serif;
	font-size: 22px;
/*	text-align: center;*/
}
.btn-box{
	display: inline-block;
	width: 160px;
	text-align: right;
	vertical-align: middle;
}

.btn {
	display: inline-block;
 	text-align: center;
  	text-decoration: none;
  	color: #000;
  	font-family: "FuturaPT Heavy", sans-serif;
	font-size: 15px;
 	color: #74e196;
 	background: transparent; 
  	border: 4px solid black; 
    padding: 8px; 
    box-sizing: border-box;
    text-transform: uppercase;

}
.btn-header{
	display: inline-block;
	max-width: 100%;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 

}



/*НАШИ УСЛУГИ*/
.offers{
	margin-top: 30px;
}
.title{
	text-align: center;
	font-family: "FuturaPT Demi", sans-serif;
	font-size: 40px;
}
.offers-subtitle{
	text-align: center;
	font-family: "FuturaPT Medium", sans-serif;
	font-size: 20px;
}
.offers-item{
	display: inline-block;
	width:30%;
	/*margin-bottom: -70px;*/
	vertical-align: top;
	padding: 15px;
}
.offers-item-title{
	display: inline-block;
	vertical-align: top;
	margin-top: -2px;
	font-family: "FuturaPT Medium", sans-serif;
	font-size: 20px;
}
.offers-item-text{
	display: inline-block;
	text-align: justify;
	margin-bottom: 40px;
	font-family: "PTSans Regular", sans-serif;
	font-size: 15px;
}
.offers-item-footer{
	display: inline-block;
	width: 100%;
}
.offers-item-length{
	display: inline-block;
	text-align: left;
	font-family: "FuturaPT Medium", sans-serif;
	font-size: 20px;
}
.offers-item-link a{
	float: right;
	text-decoration: none;
	margin-top: -18px;
	font-family: "PTSans Regular", sans-serif;
	font-size: 50px;
 	color: #74e196;
}

/*СКИДКИ И АБОНЕМЕНТЫ*/

.sale-item{
	display: inline-block;
	width: 30%;
	vertical-align: top;
	text-align: center;
}
.sale-text{

}
p.sale-text{
	width: 50%;
	padding-left: 95px;
}
.sale a{
	display: inline-block;
	margin-left: 460px;
	margin-top: 40px;
	border: 2px solid white; 
}
.sale-item .procent{
	color: #74e196;
}

/*УЧАСТНИКИ*/
.ice-ace {
	display: inline-block;
  	width: 100%;
  	text-align: left;
  	background: #FFF;
  	/*margin-left: 95px;*/
  	overflow: hidden;
  	margin-top: 2%;
  
}
[class*="ice-ace-container"] img {
	display: inline-block;
	border: 2px; 
    padding: 6.6px; 
    background: #fff; 
    margin-bottom: 10px; 
    float: left;
}
.ice-ace-container: last-child {
	margin-right: 0;
	padding-right: 0;
}

/*ПОДВАЛ*/
.page-footer {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
}
.social-footer{
	display: inline-block;
	margin-top: 60px;
}
.social-footer> a.logo{
	float: left;
	line-height: 30px;
}
.footer-nav {
  display: inline-block;
  width: 800px;  
  text-align: center;
  vertical-align: top;
}
.link-social{
  display: inline-block;
  color: #fff;
  text-decoration: none;

}
[class*="link-social"] a {
  color: #000;
  font-family: "FuturaPT Medium", sans-serif;
  text-decoration: none;
  font-size: 15px;
  padding: 20px;
  
}

.social img {
  display: inline-block;
  padding: 30px;

}
.footer-contact{
	display: inline-block;
	width: 120px;
	float: right;
}
.page-footer-phone{
	display: inline-block;
 	width: 200px;
 	text-align: right;
  	text-decoration: none;
  	color: #000;
  	margin-top: 20px;  
  	font-size: 20px;

}
.page-footer-email{
	display: inline-block;
  	width: 200px;
 	text-align: right;
  	text-decoration: none;
  	color: #000;
  
  	font-size: 20px;
  
}
.author-footer{
	display: inline-block;
	margin-top: 30px;
	vertical-align: bottom;
}
.page-footer-text{
	display: inline-block;
	text-align: left;
	width: 300px;
	margin-right: 150px;

}

.author-footer .main-nav {
	display: inline-block;
	text-align: right;
	/*float: right;*/
	/*margin-top: 5px;*/
}
/*.link-social: last-child {
	margin-right: 0;
	padding-left: 40px;	
}*/
.link-nav:last-child {
	margin-right: -40px;
}
.logo:first-child {
	padding-right: 10px;
}

